body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    background-color: #f0f2f5;
}

.header {
    height: 50px; /* Example height for header */
    background-color: #f8f9fa; /* Bootstrap light background */
}

.container {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

#message {
    text-align: center;
    margin-top: 10px;
    color: green;
}


.license-display {
    border: 1px solid #ced4da;
    padding: 15px;
    margin-top: 20px;
    background-color: #f8f9fa;
}

.info{
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: montserrat;
    font-size: 13px;
    margin-left: 30px;
    margin-right: auto;
}